# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
.env/
venv/
ENV/
lp_env
.envrc

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Other
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Build
build/
dist/
*.egg-info/

# Test
.coverage
htmlcov/

# Synthesis output
output/
combined_materials/

#other test files
document.pdf
extracted_diagrams/